#container {
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

#content-wrap {
    padding-bottom: 3.5rem; /* Footer height + 1 */
}

#footer {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    height: 2.5rem; /* Footer height */
    right: 0;
    left: 0;
}
